<!DOCTYPE>
<html>
  <body>
    <p id="notice"></p>
    <h1>Books</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
      <% @books.each do |book| %>
        <tr>
          <td>リーダブルコード</td>
          <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
          <td>
            <%= link_to "Show", book_path(@book.id)%>
          </td>

          <td>
            <%= link_to "Edit", edit_book_path(@book.id)%>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_32856" rel="nofollow" data-method="delete" href="/books/32856">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>トラブル知らずのシステム設計</td>
          <td>システム設計の要点を図解で説明してくれます</td>
          <td>
            <<%= link_to "Show", book_path(@book.id)%>
          </td>
          <td>
            <%= link_to "Edit", edit_book_path(@book.id)%>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_32857" rel="nofollow" data-method="delete" href="/books/32857">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>たのしいRuby</td>
          <td>Rubyの入門におすすめです</td>
          <td>
            <%= link_to "Show", book_path(@book.id)%>
          </td>
          <td>
            <%= link_to "Edit", edit_book_path(@book.id)%>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_32858" rel="nofollow" data-method="delete" href="/books/32858">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>入門Git</td>
          <td>gitについての基本操作から内部構造まで解説してくれます</td>
          <td>
            <%= link_to "Show", book_path(@book.id)%>
          </td>
          <td>
            <%= link_to "Edit", edit_book_path(@book.id)%>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_32859" rel="nofollow" data-method="delete" href="/books/32859">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>アルゴリズム図鑑</td>
          <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
          <td>
            <%= link_to "Show", book_path(@book.id)%>
          </td>
          <td>
            <%= link_to "Edit", edit_book_path(@book.id)%>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_32860" rel="nofollow" data-method="delete" href="/books/32860">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>達人プログラマー</td>
          <td>プログラマ入門者は必読!</td>
          <td>
            <%= link_to "Show", book_path(@book.id)%>
          </td>
          <td>
            <%= link_to "Edit", edit_book_path(@book.id)%>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_" rel="nofollow" data-method="delete" href="/books">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>データベース実践入門</td>
          <td>効率的なSQL文を教えてくれます</td>
          <td>
            <%= link_to "Show", book_path(@book.id)%>
          </td>
          <td>
            <%= link_to "Edit", edit_book_path(@book.id)%>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_path(@book.id)" rel="nofollow" data-method="delete" href="/books">Destroy</a>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <h2>New book</h2>
    <%= form_with model:@book, local:true do |f| %>
      <h4>Title</h4>
      <%= f.text_field :title %>

      <h4>Body</h4>
      <%= f.text_area :body %>

      <%= f.submit 'Create Book' %>

    <% end %>
    </form>
  </body>
</html>